<div class="page calendar">
  <div class="_background-logo"></div>

  <div fxLayout="column" style="max-height: 100vh; overflow: hidden;">
    <div fxLayout="row">
      <div fxLayout="column" class="_settings-wr">
        <mat-icon svgIcon="settings" class="mat-icon"></mat-icon>
        <mat-form-field appearance="fill">
          <mat-select [(value)]="currentMonth">
            <mat-option *ngFor="let m of months" [value]="m">{{m}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="auto" class="_days-wr">
        <div #wrapperDays style="overflow-y: hidden;" fxLayout="row">
          <ng-container *ngFor="let d of currentMonthDays">
            <div class="day" fxLayout="column">
              <span>{{d.kcal.current}}</span>
              <span>{{d.date.getDate()}}</span>
              <span>{{d.dayTitle}}</span>
            </div>
          </ng-container>
        </div>
      </div>

    </div>
    <div fxLayout="row" style="overflow: hidden;">
      <div #wrapperHours fxLayout="column" fxFlex="20" class="_hours-schedule-wr">
          <ng-container *ngFor="let h of hoursSchedule">
            <span class="hour"><ng-container *ngIf="h.hours < 10">0</ng-container>{{h.hours}}:{{h.minutes}}0</span>
          </ng-container>
      </div>
      <div #wrapperSchedule fxFlex="80" class="_total-schedule-wr" fxLayout="row">
        <ng-container *ngFor="let d of currentMonthDays">
          <div fxLayout="column">
            <ng-container *ngFor="let h of hoursSchedule">
              <div style="min-width: 14.2857%" class="hour"></div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>
