@import 'src/styles/custom-grid';

.mat-icon {
  //width: 40px;
  //height: 40px;
  width: 100%;
  height: 100%;
}
a {
  margin: 0 auto;
}

::ng-deep .mat-form-field {
  max-width: inherit;
  font-size: x-small;
}

.page .calendar {
  overflow: hidden;
}

._settings-wr {
  width: 20%;
  background-color: white;
}

._days-wr {
  overflow: hidden;
  background-color: white;


  div { // hidden scrollbar
    //height: 100%;
    text-align: center;
    color: black;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


  .day {
    //border: 1px solid white;
    //min-width: calc(14.2857% - 2px);
    text-decoration: none;
    font-weight: 400;
  }
}

._hours-schedule-wr {
  overflow-x: hidden;
  //background-color: rgba(255, 255, 255, 0);
  color: #413F3F;
  font-weight: 300;
  font-size: 1.2em;
  position: relative;

  &::-webkit-scrollbar {// hidden scrollbar
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  .hour {
    //min-height: 8%;
    //min-width: 14.2857%;
    text-align: center;
    //border: 1px solid white;

  }

}
.hour__filled {
  background-color: #799CF4;
  color: white;
}
.hour-sqr {
  border-bottom: 2px solid #ffffff;
  height: calc(100% - 2px) !important;
  box-sizing: border-box;
}

._total-schedule-wr {
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0);;
  position: relative;

  &::-webkit-scrollbar {// hidden scrollbar
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  .hour {
    //min-width: 100%;
    //min-height: 8%;
    //border: 1px solid #D8D5D5;
  }
}

.schedule-sqr {
  //background-color: black;
  .__inner {
    width: 95%;
    height: 95%;
    background-color: white;
    border-radius: 4px;
  }



}

.day__current {
  position: relative;
  width: 80%;
  height: 80%;
  /* padding: 100%; */
  /* line-height: 100%; */
  border-radius: 10%;
  font-size: x-large;
  min-width: 1em;
  color: white;
  background-color: #799CF4;
  @include flex-center;
}

.day__calorie {
  @include flex-center;
  background-color: green;
  width: 76%;
  border-radius: 4px;
  height: 66%;
  color: white;
}


