.mat-icon { width: 40px; }
::ng-deep .mat-form-field { max-width: inherit; font-size: x-small; }

.page .calendar {
  overflow: hidden;
}

._settings-wr {
  width: 20%;
  background-color: bisque;
}

._days-wr {
  overflow: hidden;
  background-color: aquamarine;
  .day {
    border: 1px solid gray;
    min-width: calc(14.2857% - 2px);
  }
}

._hours-schedule-wr {
  overflow-x: hidden;
  background-color: cornflowerblue;
  position: relative;
  .hour {
    min-height: 10%;
    min-width: 14.2857%;
    border: 1px solid gray;
  }
}

._total-schedule-wr {
  overflow: scroll;
  background-color: rgba(165 214 183 / 50%);
  position: relative;
  .hour {
    min-width: 100%;
    min-height: 10%;
    border: 1px solid gray;
  }
}


