<app-close-page-button></app-close-page-button>
<div fxFill style="padding:4%;">
  <div fxFlex="100"
       fxLayout="column" fxLayoutAlign="space-around space-around">
    <h1>
      <ng-container *ngIf="isToday">Today</ng-container>
      <ng-container *ngIf="!isToday">{{ day.date | date: 'MMMM d' }}</ng-container>
    </h1>
    <mat-form-field>
      <mat-label>Kcal</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fats (gm)</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Proteins (gm)</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Carbohydrates (gm)</mat-label>
      <input matInput>
    </mat-form-field>
    <!--    meal list-->
  </div>
</div>

