//._background-logo {
//  background-image: url("../assets/logo.png");
//  position: absolute;
//  width: inherit;
//  opacity: 0.1;
//  bottom: 0;
//  right: 0;
//  z-index: -10000 !important;
//  background-repeat: no-repeat;
//  background-position: bottom right;
//  height: 100%;
//  pointer-events: none;
//}
@import 'src/styles/custom-grid';

.page {
  height: 100vh;
  width: 100vw;
  position: relative;
}






