//._background-logo {
//  background-image: url("../assets/logo.png");
//  position: absolute;
//  width: inherit;
//  opacity: 0.1;
//  bottom: 0;
//  right: 0;
//  z-index: -10000 !important;
//  background-repeat: no-repeat;
//  background-position: bottom right;
//  height: 100%;
//  pointer-events: none;
//}


.page {
  height: 100vh;
  width: 100vw;
  position: relative;
}

$orient: 0;
$height: 100vh;
//@if calc(#{$orient}) < calc(#{$height}) {
//  $orient: 100vw / 5;
//} @else {
//  $orient: 100vh / 5;
//}
@media screen and (orientation: portrait) {
  $orient: 100vw / 5;
  .grid__square-w1xh05 {
    //display: flex;
    width: calc(#{$orient});
    max-width: calc(#{$orient});
    height: calc(#{$orient/2});
    //border: 2px solid black;
  }
  .grid__square-w1xh1 {
    display: flex;
    width: calc(#{$orient} - 4px);
    height: calc(#{$orient} - 4px);
    min-height: calc(#{$orient} - 4px);
    border: 2px solid black;
    box-sizing: initial !important;
  }
  .grid__square-w1xh2 {
    display: flex;
    width: calc(#{$orient} - 4px);
    height: calc(#{$orient*2} - 4px);
  }
}

@media screen and (orientation: landscape) {
  $orient: 100vh / 5;
  .grid__square-w1xh05 {
    //display: flex;
    width: calc(#{$orient});
    height: calc(#{$orient/2});
    //border: 2px solid black;
  }
  .grid__square-w1xh1 {
    display: flex;
    width: calc(#{$orient} - 4px);
    height: calc(#{$orient} - 4px);
    min-height: calc(#{$orient} - 4px);
    border: 2px solid black;
    box-sizing: initial !important;
  }
  .grid__square-w1xh2 {
    display: flex;
    width: calc(#{$orient} - 4px);
    height: calc(#{$orient*2} - 4px);
  }
}


