/* You can add global styles to this file, and also import other style files */
// sass-lint:disable no-important
@use '@angular/material' as mat;
@import 'normalize.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@include mat.core();

$calorie-primary: mat.define-palette(mat.$indigo-palette);
$calorie-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$calorie-warn: mat.define-palette(mat.$red-palette);

$calorie-theme: mat.define-light-theme((
  color: (
    primary: $calorie-primary,
    accent: $calorie-accent,
    warn: $calorie-warn,
  )
));

//@include mat.all-component-themes($calorie-theme);
@include mat.core-theme($calorie-theme);
@include mat.button-theme($calorie-theme);



html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-style: normal;
}

